



 
 <chat-dialog class={{class}}>
 <div >
  <div class="chat-dialog__header"> 
    <div></div>
   
   <div class="chat-dialog__header__time"> <span>12:00</span><svg width="20" height="10" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line y1="-0.5" x2="3.765" y2="-0.5" transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33313)" stroke="#fff"/>
  <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.35828 5.00006)" stroke="#fff"/>
  <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01587 5.00006)" stroke="#fff"/>
</svg></div>
            <div class="menu">
                         <svg width="10" height="30" viewBox="0 0 3 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="1.5" cy="2" r="1.5" fill="#fff"/>
  <circle cx="1.5" cy="8" r="1.5" fill="#fff"/>
  <circle cx="1.5" cy="14" r="1.5" fill="#fff"/>
</svg>
            </div>
            </div>
            <div>
 <p>{{text}}
           </p>

            </div>
           
          </div>
          </chat-dialog>