



 
 <chat-dialog>
 <div class="chat-dialog">
  <div class="chat-dialog__header"> 
            <img src={{src}} class="chat-dialog__img" />

    
            

            <div class="menu">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            </div>
            <div>
 <p>{{text}}
           </p>

            </div>
           
          </div>
          </chat-dialog>