.menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  flex-direction: column;
}

.menu circle:hover {
  color: var(--selectColor);
}

.menu:hover {
  color: var(--selectColor);
}

.menu-dialog {
  position: absolute;
  width: 300px;
  background-color: var(--backgroundColor);
  border: 3px solid var(--selectColor);
  border-radius: 45px;
  top: 0;
  left: 15px;
  padding: 20px;
}
