<div class="menu">
  <svg
    width="10"
    height="30"
    viewBox="0 0 3 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="1.5" cy="2" r="1.5" fill="var(--foregroundColor)" />
    <circle cx="1.5" cy="8" r="1.5" fill="var(--foregroundColor)" />
    <circle cx="1.5" cy="14" r="1.5" fill="var(--foregroundColor)" />
  </svg>
  {{#if show}}
    <div class="menu-dialog">
      <ul>
        <li>menu item</li>
        <li>menu item</li>//#38394b
      </ul>
    </div>
  {{/if}}
</div>