body {
  margin: 0;
}
.main {
  display: flex;
  justify-content: center;
}
.dialogs {
  width: 70%;
  height: 100vh;
  background-color: bisque;
}
.sidebar {
  width: 30%;
}
.menu {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  flex-direction: column;
  height: 50px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
}
.profile-image {
  background-color: #e8e8c3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat-item {
  display: flex;
  justify-content: space-around;
  height: 70px;
  border: 2px solid rebeccapurple;
  border-radius: 50px;
  margin: 20px;
  list-style: none;
}
.dialogs {
  height: 100vh;
  overflow: scroll;
}
.chat-dialog {
  height: 400px;
  width: 500px;
  background-color: white;
  margin: 30px;
  
}
.chat-dialog__header {
  display: flex;
  justify-content: space-around;
}
.chat-dialog__img {
  height: 70px;
}