<div class="chat">
  <section class="sidebar">
    <div class="sidebar-search">
      <input type="search" name="search" placeholder="Search" />
    </div>
    <ul class="chat__list">
      {{{Chats}}}
    </ul>
  </section>
  <section class="dialogs">
    <div class="chat__profile">
      <img
        alt="фото профиля"
        src="https://cdn-icons-png.flaticon.com/512/3541/3541871.png"
      />
    </div>
   
      {{{Dialogs}}}
    

    <div class="dialogs__control__send">
      <input type="text-area" name="username" placeholder="message" />
      <button>Send ></button>
    </div>
  </section>
</div>

