.profile {
   width: 500px;
   display: flex;
  flex-direction: column;
  align-items: center;
 }
 .profile-name {
   text-align: center;
 }
 .profile-info {
   width: 100%;

   gap: 30px;
 }

 .profile-info button {
   width: 300px;
 }
 .t-end {
   text-align: end;
 }
 