.register {
  width: 500px;
}

.register-header {
  text-align: center;
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

.register-form label {
  color: var(--foregroundColor);
}

.register-form button {
  width: 300px;
  margin-left: 100px;
  margin-top: 25px;
}
