 <li class="chat-item" {{#if profile.active}}style="border: 3px solid var(--selectColor);"{{/if}} >
  {{{Avatar}}}
    <div class="chat-item__info__name">    
      <h3>{{profile.username}}</h3>
      <p>{{profile.text}}</p>
    </div> 
  <div class="chat-item__info__time">
      <span class="bage">2</span>
      <span>12:00</span>
  </div>
  </li>

