



 
 <chat-item>
 <li class="chat-item">
            <img src={{src}} class="chat-item__img" />
            <svg
              width="47"
              height="47"
              viewBox="0 0 47 47"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="23.5" cy="23.5" r="23.5" fill="#EFEFEF" />
            </svg>
            {{text}}
            <div class="bage">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="10" fill="#3369F3" />
              </svg>
            </div>

            <div class="menu">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </li>
          </chat-item>