<chat-item>
 <li class="chat-item" {{#if active}}style="border: 3px solid white;"{{/if}} >
 <div class="chat-item__info">
            <img src={{src}} class="chat-item__info__img" />
                   <div class="chat-item__info__name">
        
             <h3>{{name}}</h3>
                <p>{{text}}</p>
          </div> 
         </div>
         <div class="chat-item__info__time">
          12:00
            <div class="bage">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="10" fill="#3369F3" />
              </svg>
            </div>
            </div>

          </li>
          </chat-item>