<main class="main">
  <section class="register">
    <h2 class="register-header">Изменить профиль</h2>
    <form class="register-form">
      {{#each changeProfileInputs}}
        {{{this}}}
      {{/each}}
      {{{Save}}}
      {{{Link}}}
    </form>
  </section>
</main>
