<div class="change-avatar">
  <form class="login-form">
    <input id="avatar" type="file" name="avatar" accept="image/*" />
    {{!  <input type="submit" /> }}
    {{!--     {{{ChangeAvatarInput}}} --}}
    {{{ChangeAvatarButton}}}
  </form>
  {{{CancelButton}}}
</div>