body {
  margin: 0;
}

.chat {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.chat__profile {
  display: flex;
  justify-content: space-between;
  height: 55px;
}

.chat__profile img {
  max-width: 100%;
  max-height: 100%;
}

.dialogs {
  width: 70%;
  justify-content: space-between;
  margin-left: 50px;
}

.dialogs__item {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100vh - 200px);
  align-items: end;
}

.dialogs__item > :first-child {
  margin-top: auto !important;
}

.sidebar {
  width: 30%;
}

.sidebar-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sidebar-search input {
  width: 100%;
}

.bage {
  text-align: center;
  background-color: var(--foregroundColor);
  color: var(--selectColor);
  width: 30px;
  height: 30px;
  border-radius: 30%;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
}

.profile-image {
  background-color: #e8e8c3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat__list {
  overflow-y: auto;
  height: calc(100vh - 300px);
  padding-right: 5px;
}

.chat-dialog {
  height: 400px;
  width: 500px;
  background-color: var(--selectColor);
  border-radius: 30px;
  margin: 30px;
}

.chat-dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-dialog__header__time svg {
  margin-left: 5px;
}

.chat-dialog__img {
  height: 70px;
}

.chat-dialog__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-dialog__logo h3 {
  margin-left: 15px;
}

.sent,
.received {
  background-color: var(--selectColor);
  border-radius: 60px;
  margin-bottom: 40px;
  padding: 30px;
  width: 50%;
  height: fit-content;
}

.received {
  place-self: start left;
  color: var(--foregroundColor);
  background-color: var(--backgroundColor);
  border: 3px solid var(--selectColor);
}

.sent {
  place-self: end right;
  align-content: right;
  color: var(--foregroundColor);
  background-color: var(--backgroundColor);
  border: 3px solid var(--foregroundColor);
}

.dialogs__control {
  display: flex;
}

.dialogs__control__send {
  display: flex;
  justify-content: end;
}

.dialogs__control__send input {
  width: 70%;
  margin-right: 20px;
  color: var(--selectColor);
  height: 50px;
  background-color: var(--foregroundColor);
  border-radius: 18px;
}
