.modal {
  background-color: var(--backgroundColor);
  height: 500px;
  left: 30%;
  position: absolute;
  top: 30%;
  width: 500px;
  z-index: 1000;
  padding: 40px;
  gap: 20px;
  border-radius: 50px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
}
