<main class="main">
  <section class="change-password">
    <h2 class="login-header">Сменить пароль</h2>
    <form class="login-form">
      {{#each changePasswordInputs}}
        {{{this}}}
      {{/each}}
      {{{Save}}}
      {{{Link}}}
    </form>
  </section>
</main>